.App {
  text-align: center;
}


.input-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto 2em ;
}

.input-container div {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
}

label {
  padding-right:1em;
}

select {
  width: 160px;
}


.output-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-basis:50%;
}

.output-table {
  border-collapse: collapse;
}

.output-table td {
  border: 2px solid #ccc;
  padding: 5px 20px;
}
